:root {
  /* ===== Color theme ===== */
  --light-green: #30CC50;
  --green: #1F8248;
  --dark-green: #54652E;
  --gray: #445E5C;
  --black: #222519;
  --white: #FDFFFC;

  /* ===== Project color definitions ===== */
}
